html, body {
	height: 100%;
	margin: 0;
	overflow: hidden;
	width: 100%;
}

body {
	background-color: #222;
}

canvas {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

#loading {
	color: teal;
	font-family: "Lucida Console", Monaco, monospace;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}