html, body {
	height: 100%;
	margin: 0;
	width: 100%;
}

body {
	background-color: #222;
	cursor: crosshair;
}

canvas {
	left: 50%;
	position: absolute;
	top: 40%;
	transform: translate(-50%, -50%);
}

a {
	color: darkcyan;
}

a:hover {
	color: cyan;
}

.text {
	text-align: justify;
	color: white;
	font-family: 'IBM Plex Sans';
	max-width: 90%;
	position: relative;
	margin: 1.5rem auto;
	top: 20rem;
	width: 25rem;
}

#loading {
	color: teal;
	font-family: "Lucida Console", Monaco, monospace;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

h3 {
	color: white;
	font-family: 'IBM Plex Mono', monospace;
	text-align: center;
}

#reset {
	background-color: red;
	border-radius: 3rem;
	color: white;
	height: 3rem;
	right: -0.5rem;
	outline: none;
	position: absolute;
	top: calc(50% + 145px);
	transform: translate(-50%, -50%);
	width: 3rem;
}

#keys {
	align-items: center;
	background-color: #111;
	color: white;
	display: flex;
	flex-direction: column;
	font-family: 'IBM Plex Mono', monospace;
	height: 4rem;
	justify-content: center;
	margin: 3rem 0 0 1rem;
	position: relative;
	top: 19rem;
	width: 14rem;
}